$instrument-1-color: #de5b7b;
$instrument-2-color: #ff8b94;
$instrument-3-color: #ffaaa5;
$instrument-4-color: #ffd3b6;
$instrument-5-color: #dcedc1;
$instrument-6-color: #a8e6cf;
$instrument-7-color: #ffd4e5;
$instrument-8-color: #eecbff;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #070707;
  height: 100vh;
  transition: all 300ms;
}

.controls-container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 4px;
  border: 0;
  background: #070707;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  transition: all 100ms;

  &:hover {
    background: #f5f5f5;
    color: #070707;
  }
}

.control-label {
  color: #f5f5f5;
  margin-right: 0.5rem;
}

input[type='number'] {
  width: 60px;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  color: #070707;
}

.grid {
  border-radius: 4px;
  color: #eef2f3;
  display: grid;
  gap: 4px;
  margin-top: 2rem;
}

.instrument-row {
  display: contents;

  &:nth-child(1) .label,
  &:nth-child(1) .beat.active {
    background-color: $instrument-1-color;
  }

  &:nth-child(2) .label,
  &:nth-child(2) .beat.active {
    background-color: $instrument-2-color;
  }

  &:nth-child(3) .label,
  &:nth-child(3) .beat.active {
    background-color: $instrument-3-color;
  }

  &:nth-child(4) .label,
  &:nth-child(4) .beat.active {
    background-color: $instrument-4-color;
  }

  &:nth-child(5) .label,
  &:nth-child(5) .beat.active {
    background-color: $instrument-5-color;
  }

  &:nth-child(6) .label,
  &:nth-child(6) .beat.active {
    background-color: $instrument-6-color;
  }

  &:nth-child(7) .label,
  &:nth-child(7) .beat.active {
    background-color: $instrument-7-color;
  }

  &:nth-child(8) .label,
  &:nth-child(8) .beat.active {
    background-color: $instrument-8-color;
  }
}

.label {
  background-color: #cccccc;
  border-radius: 4px;
  color: #070707;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.beat {
  background-color: #352f2f;
  border-radius: 4px;
  transition: all 300ms;
  width: 14px;

  &.active {
    background-color: #000000;
    filter: brightness(130%);
    transform: scale(0.9);
  }

  &.current {
    filter: brightness(150%);
  }

  &:hover {
    cursor: pointer;
    filter: brightness(130%);
  }

  &:focus {
    outline: none;
  }
}

.col-dark > * {
  background-color: #222121;
}

#instrumentVolumeContainer {
  height: 100%;
  width: 10%;
  float: left;
}
